nbconvert
numpy
matplotlib
kconfiglib 
pyyaml 
jinja2 
empy==3.3.4 
pyserial 
toml 
packaging 
pyros-genmsg 
lxml 
pyulog 
future 
cerberus 
jsonschema
scipy
nbterm
jq
pandas
plotly
jupyterlab
ipywidgets